# 데이터 전처리 및 파생변수 생성

In [1]:
execfile('setting.py')

In [2]:
df_i = pd.read_csv('/Users/bagdaemin/Desktop/eoals/Computer/python/posco/빅데이터/보험프로젝트/02_Data_set_보험.csv',encoding='euc-kr')
df_l = pd.read_csv('/Users/bagdaemin/Desktop/eoals/Computer/python/posco/빅데이터/보험프로젝트/01_Data_set_대출.csv')

In [3]:
df_i.head()

,CUST_ID,OCCP_NAME_G,CUST_JOB_INCM,HSHD_INFR_INCM,ACTL_FMLY_NUM,CUST_FMLY_NUM,LAST_CHLD_AGE,MATE_OCCP_NAME_G,MATE_JOB_INCM,CRDT_LOAN_CNT,...,LT1Y_CTLT_CNT,AUTR_FAIL_MCNT,FYCM_PAID_AMT,FMLY_CLAM_CNT,FMLY_PLPY_CNT,AGE,SEX,월 가구 소득,보장 월 비율,저축 월 비율
0,3567,예체능계 종사자,3400,8200,5,2,19.0,예체능계 종사자,4900,0,...,0,9,10200000,24,12,50,2,6833333.333,58.536585,58.390244
1,31155,3차산업 종사자,3400,8300,4,3,24.0,자영업,4900,0,...,0,1,18000000,40,2,55,1,6916666.667,57.831325,43.228916
2,17280,사무직,2500,8500,2,1,0.0,NaN,0,0,...,0,7,0,0,0,30,1,7083333.333,11.152941,56.329412
3,13112,단순 사무직,4200,9300,4,2,24.0,NaN,0,0,...,0,1,0,0,4,50,2,7750000.000,51.612903,51.483871
4,92089,단순 사무직,4200,9600,4,2,29.0,사무직,5400,0,...,0,23,7000000,21,6,50,1,8000000.000,49.875000,49.875000

## 컬럼삭제

### LAST_CHLD_AGE(막내자녀수)
1. 나이보다 막내자녀 나이가 많은 경우 (696건)
2. 실가족원수가 2명인데 막내자녀나이가 0 초과이며 배우자 직업이 있는경우 (11,665건)
3. Null값 1,082건


위와 같은 내용으로 컬럼을 삭제

In [4]:
df_i.drop('LAST_CHLD_AGE', axis=1, inplace=True)

### MATE_OCCP_NAME_G(배우자 직업)
1. 실가족원수가 2명인데 막내자녀나이가 0 초과이며 배우자 직업이 있는 경우 (11,665건)
2. Null값 45,000건

위와 같은 내용으로 컬럼을 삭제

In [5]:
df_i.drop('MATE_OCCP_NAME_G', axis=1, inplace=True)

### SEX(성별)
1. 남자이면서 주부가 50%이상 존재

위와 같은 내용으로 컬럼을 삭제

In [6]:
df_i.drop('SEX', axis=1, inplace=True)

## 행삭제

### HSHD_INFR_INCM (가구 추정 소득) < CUST_JOB_INCM (추정소득) 
492건, 행 삭제

In [7]:
index = df_i[df_i['HSHD_INFR_INCM'] < df_i['CUST_JOB_INCM']].index

In [8]:
df_i.drop(index, axis=0, inplace=True)

### FMLY_CLAM_CNT (가구총보험금청구건수) 0건이지만 FYCM_PAID_AMT(가구총지급보험금액) 받은 경우
7511건, 행 삭제

In [9]:
index = df_i[(df_i['FMLY_CLAM_CNT'] == 0) & (df_i['FYCM_PAID_AMT'] != 0)].index

In [10]:
df_i.drop(index, axis=0, inplace=True)

### OCCP_NAME_G '*' 경향성 확인 어려움
1044건, 행 삭제

In [11]:
index = df_i[df_i['OCCP_NAME_G'] == '*'].index

In [12]:
df_i.drop(index, axis=0, inplace=True)

### OCCP_NAME_G Null
1044건, 행 삭제

In [13]:
index = df_i[df_i['OCCP_NAME_G'].isnull() == True].index

In [14]:
df_i.drop(index, axis=0, inplace=True)

## 범주화

### CUST_JOB_INCM(추정 소득) 범주화

In [15]:
def CUST_JOB_INCM_CAT(CUST_JOB_INCM):
    if (CUST_JOB_INCM < 3000):
        return '3000 미만'
    elif (CUST_JOB_INCM < 4000):
        return 3000
    elif (CUST_JOB_INCM < 5000):
        return 4000
    elif (CUST_JOB_INCM < 6000):
        return 5000
    elif (CUST_JOB_INCM < 7000):
        return 6000
    elif (CUST_JOB_INCM < 8000):
        return 7000
    else:
        return '8000 이상'
    
df_i['CUST_JOB_INCM'].apply(CUST_JOB_INCM_CAT)

0            3000
1            3000
2         3000 미만
3            4000
4            4000
           ...
100228    3000 미만
100229    3000 미만
100230    3000 미만
100231    3000 미만
100232    3000 미만
Name: CUST_JOB_INCM, Length: 90732, dtype: object

### AGE(추정 소득) 범주화

In [25]:
df_i['AGE'] = df_i['AGE'].astype('int')

def AGE_CAT(AGE):
    
    if (AGE < 30):
        return '20대'
    elif (AGE < 40):
        return '30대'
    elif (AGE < 50):
        return '40대'
    elif (AGE < 60):
        return '50대'
    else:
        return '60대 이상'

df_i['AGE'].apply(AGE_CAT)

0            50대
1            50대
2            30대
3            50대
4            50대
           ...
100228    60대 이상
100229       40대
100230       50대
100231       50대
100232       40대
Name: AGE, Length: 90732, dtype: object

### HSHD_INFR_INCM(가구추정소득) 범주화

In [26]:
def HSHD_INFR_INCM_CAT(HSHD_INFR_INCM):
    if (HSHD_INFR_INCM < 3000):
        return '3000 미만'
    elif (HSHD_INFR_INCM < 4000):
        return 3000
    elif (HSHD_INFR_INCM < 5000):
        return 4000
    elif (HSHD_INFR_INCM < 6000):
        return 5000
    elif (HSHD_INFR_INCM < 7000):
        return 6000
    elif (HSHD_INFR_INCM < 8000):
        return 7000
    elif (HSHD_INFR_INCM < 9000):
        return 8000
    elif (HSHD_INFR_INCM < 10000):
        return 9000
    elif (HSHD_INFR_INCM < 11000):
        return 10000
    else:
        return '11000 이상'

    
df_i['HSHD_INFR_INCM'].apply(HSHD_INFR_INCM_CAT)

0          8000
1          8000
2          8000
3          9000
4          9000
          ...
100228    10000
100229     7000
100230     5000
100231    10000
100232     7000
Name: HSHD_INFR_INCM, Length: 90732, dtype: object

## 파생변수 생성

### 실효 해지 여부 변수 생성 (TARGET_CANCEL)

In [39]:
def CNTT_LAMT_CNT_CHK(CNTT_LAMT_CNT):
    if (CNTT_LAMT_CNT == 0):
        return 0
    else:
        return 1

df_i['TARGET_CANCEL'] = df_i['CNTT_LAMT_CNT'].apply(CNTT_LAMT_CNT_CHK)

### 생명신용미대출금액 파생변수 생성 (TOT_UNREPY_AMT)

In [58]:
df_i.reset_index(drop=True, inplace=True)

In [59]:
for i in range(df_i.shape[0]):
    df_i['TOT_UNREPY_AMT'] = df_i['TOT_CRLN_AMT'][i] -  df_i['TOT_REPY_AMT'][i]

### 최초, 최근신용등급 차이 파생변수 생성(CRDT_GRAD_DIFF)

In [65]:
for i in range(df_i.shape[0]):
    df_i['CRDT_GRAD_DIFF'] = df_i['STRT_CRDT_GRAD'][i] -  df_i['LTST_CRDT_GRAD'][i]

## 대출 파일과 Merge

In [67]:
df = pd.merge(left=df_i, right=df_l, how='left', on='CUST_ID')

## 내보내기

In [68]:
df.to_csv('보험_대출.csv', encoding='euc-kr')