In [586]:
#데이터 구성 패키지 : 시리즈, 데이터 프레임
import pandas as pd
#행렬 연산 패키지
import numpy as np
#데이터 시각화 패키지
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import rc, font_manager
import seaborn as sns
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
rc("font",family = "NanumGothic")

from scipy import stats
from statsmodels.stats.proportion import proportions_ztest

#ANOVA 분석 패키지
from statsmodels.stats.anova import anova_lm

#가설검정 및 통계 분석 패키지 - 회귀분석
from statsmodels.formula.api import ols
#qqplot, 회귀분석의 상수항 추가
from statsmodels.api import qqplot, add_constant
#선형모델 formula
import statsmodels.formula.api as smf
#평가함수
from statsmodels.tools.eval_measures import rmse
#다중공선성 확인
from statsmodels.stats.outliers_influence import variance_inflation_factor
#학습용/평가용 데이터 분리 : train, test
from sklearn.model_selection import train_test_split
#선형회귀모형
from sklearn.linear_model import LinearRegression
#변수선택법(후진제거법)
from sklearn.feature_selection import RFE
#scale 변환 -> 표준화 회귀계수 산출
from sklearn.preprocessing import StandardScaler
#평가함수
from statsmodels.tools.eval_measures import rmse
from sklearn.metrics import r2_score
#예측/회귀
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.ensemble import GradientBoostingRegressor
#최적모델, 파라미터 검색
from sklearn.model_selection import GridSearchCV
#graphiz: 나무 구조 시각화(dot. 확장자 파일 불러오기 등)
import graphviz
import mglearn
from sklearn.tree import DecisionTreeClassifier, export_graphviz
#평가함수
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
#주성분 분석
from sklearn.decomposition import PCA
#회귀분석
import statsmodels.api as sm 
#자기상관 함수, 부분자기상관 함수
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
#ARIMA
from statsmodels.tsa.arima_model import ARIMA
#로지스틱 회귀
from statsmodels.api import Logit
#분류모델 평가함수
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.ensemble import GradientBoostingRegressor
#로지스틱 회귀
from statsmodels.api import Logit
#분류모델 평가함수
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import confusion_matrix, classification_report
#분류 decision tree
from sklearn.tree import DecisionTreeClassifier
#분류 랜덤포레스트
from sklearn.ensemble import RandomForestClassifier
#분류 SVM
from sklearn.svm import SVC
#분류 NN(MLPClassifier)
from sklearn.neural_network import MLPClassifier
#분류 knn
from sklearn.neighbors import KNeighborsClassifier

In [587]:
df_booking = pd.read_csv('/home/piai/바탕화면/Big Data/3주차/big data 팀프로젝트_간편식 제조 공정 최적화/데이터셋/Booking_data.csv') 
df_cooking = pd.read_csv('/home/piai/바탕화면/Big Data/3주차/big data 팀프로젝트_간편식 제조 공정 최적화/데이터셋/Cooking_Data.csv') 
df_error = pd.read_csv('/home/piai/바탕화면/Big Data/3주차/big data 팀프로젝트_간편식 제조 공정 최적화/데이터셋/Error_Message.csv')

/tmp/ipykernel_12077/1748939962.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_booking = pd.read_csv('/home/piai/바탕화면/Big Data/3주차/big data 팀프로젝트_간편식 제조 공정 최적화/데이터셋/Booking_data.csv')

In [588]:
df_booking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653821 entries, 0 to 1653820
Data columns (total 13 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   수주사업장   1653821 non-null  object
 1   수주일자    1653821 non-null  int64
 2   수주일련번호  1653821 non-null  int64
 3   거래처코드   1653821 non-null  object
 4   수주부서    1578349 non-null  object
 5   수주품목코드  1653821 non-null  object
 6   출고수량KG  1653821 non-null  int64
 7   수주수량KG  1653821 non-null  int64
 8   수주단가    1653821 non-null  float64
 9   수주금액    1653821 non-null  float64
 10  부가세금액   1653821 non-null  int64
 11  출하완료여부  1653821 non-null  object
 12  납기일자    1653820 non-null  object
dtypes: float64(2), int64(5), object(6)
memory usage: 164.0+ MB

In [589]:
df_booking[df_booking['수주일자'] == 0 ]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
684312,A,0,1,SI302,400,16A01062,40,40,3630.0,132000.0,13200,Y,20170718

In [590]:
df_booking['수주일자'].iloc[684312] = 20170717 #-> 1.거래처 코드 및 납기일자 확인 결과 동일업체 주문 확인됨

/tmp/ipykernel_12077/2937177625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_booking['수주일자'].iloc[684312] = 20170717 #-> 1.거래처 코드 및 납기일자 확인 결과 동일업체 주문 확인됨

In [591]:
df_booking[df_booking['수주일자'] > 21000000 ]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
1597105,A,21210727,1,SI0020,400,16B06095,13,13,7200.0,26182.0,2618,Y,21210727

In [592]:
df_booking.drop([1597105], axis = 0, inplace= True) #2. 수주일자 = 21210727 -> 일련번호, 수주사업장, 확인결과 동일항목 존재

In [593]:
df_booking.reset_index(drop= True, inplace= True) #인덱스 리셋

In [594]:
df_booking = df_booking[df_booking['수주일자'] > 20151231] #3.2016년 이전 데이터 삭제

In [595]:
df_booking #1031393 데이터 존재

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
199,C,20170622,314,IA9129,400,16B06101,36,36,5775.00,207900.0,20790,Y,20170623
276,A,20200521,115,SI0107,NaN,1BA03255,0,54,1450.00,237273.0,23727,Y,20200522
277,A,20200521,116,SI0107,NaN,16A02023,0,50,3550.00,161364.0,16136,Y,20200522
278,A,20200521,117,IJ9449,NaN,13K02080,0,48,7040.00,153600.0,15360,Y,20200522
279,A,20200521,118,IJ9449,NaN,13R01080,0,36,8800.00,144000.0,14400,Y,20200522
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1653815,A,20211102,150,IJ9548,sc600,16B06095,0,256,7723.00,561673.0,56167,N,20211103
1653816,B4,20211104,1,IA1406,400,13A00748,0,200,9800.00,1960000.0,196000,N,20211105
1653817,B4,20211104,2,IA1406,400,18A03045,0,30,8400.00,252000.0,25200,N,20211105
1653818,C,20211030,113,IJ9780,400,16A03015,0,1,4405.76,4406.0,0,Y,20211031
1653819,C,20211102,386,IA1444,NaN,13D01231,0,960,12500.00,6000000.0,600000,N,20211103

In [596]:
df_booking.reset_index(drop= True, inplace= True) #인덱스 리셋

### 납기일자 nan 값 처리

In [597]:
df_booking[df_booking['납기일자'].isna()]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
228956,C,20160226,34,IJ9190,400,1BA03023,120,120,2760.0,331200.0,11040,Y,NaN

In [598]:
df_booking.iloc[228950:228965]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
228950,C,20160226,28,IJ9190,400,16B06003,576,576,1718.75,990000.0,30938,Y,20160302.0
228951,C,20160226,29,IJ9190,400,1BA03083,4000,4000,3270.00,13080000.0,1308000,Y,20160302.0
228952,C,20160226,268,IJ9190,400,16A02010,700,700,2970.00,2079000.0,207900,Y,20160302.0
228953,C,20160226,31,IJ9190,400,1AA01024,110,110,2740.00,301400.0,30140,Y,20160302.0
228954,C,20160226,32,IJ9190,400,16A01002,100,100,2800.00,280000.0,28000,Y,20160302.0
228955,C,20160226,33,IJ9190,400,1BA03055,63,63,1030.00,216300.0,21630,Y,20160302.0
228956,C,20160226,34,IJ9190,400,1BA03023,120,120,2760.00,331200.0,11040,Y,NaN
228957,C,20160226,35,IJ9455,400,1AA01016,208,208,3100.00,644800.0,64480,Y,20160226.0
228958,A,20160226,48,SI0307,sc600,16D01021,10,10,5400.00,54000.0,0,Y,20160227.0
228959,A,20160226,49,SI0307,sc600,13K03115,2,2,4000.00,7273.0,727,Y,20160227.0
228960,A,20160226,50,SI0307,sc600,13E01053,6,6,8200.00,22364.0,2236,Y,20160227.0
228961,A,20160226,51,SI0307,sc600,13D04103,6,6,6760.00,18437.0,1843,Y,20160227.0
228962,A,20160226,52,SI0307,sc600,59101001,1,1,3800.00,3455.0,345,Y,20160227.0
228963,C,20170701,23,IJ2772,202,13D02246,30,30,1181.00,154711.0,15471,Y,20170701.0
228964,C,20170625,150,IJ2772,400,13D02245,68,68,1390.00,400320.0,40032,Y,20170703.0

In [599]:
df_booking['납기일자'][228956] = 20160302 #수주사업장,수주일자,수주일련번호,거래처코드 수주부서 확인 결과 동일한 납기 일자 확인

In [600]:
df_booking[df_booking['납기일자'].isna()]

Empty DataFrame
Columns: [수주사업장, 수주일자, 수주일련번호, 거래처코드, 수주부서, 수주품목코드, 출고수량KG, 수주수량KG, 수주단가, 수주금액, 부가세금액, 출하완료여부, 납기일자]
Index: []

### 19001000 drop

In [601]:
df_booking[(df_booking['납기일자'] == 19000110) | (df_booking['납기일자'] == 19021023) | (df_booking['납기일자'] == 19000100)]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
174997,C,20161027,413,IJ9552,400,1BA03010,9,9,1320.0,39600.0,3960,Y,19021023.0
233709,C,20190128,83,IJ2036,400,16B03013,480,480,100.0,2400000.0,240000,Y,19000100
320152,C,20170123,353,IK0228,400,13R07043,156,156,4280.0,667680.0,33384,Y,19000100
320153,C,20170123,354,IK0228,400,13D02268,156,156,4250.0,663000.0,33150,Y,19000100
320154,C,20170123,355,IK0228,400,13G01025,156,156,3500.0,546000.0,27300,Y,19000100
492934,C,20200329,21,IK0299,400,13R13005,0,36,3000.0,108000.0,5400,Y,19000100
492935,C,20200329,22,IK0299,400,13G01029,0,84,2500.0,210000.0,10500,Y,19000100
492936,C,20200329,23,IK0299,400,16A04018,0,290,3400.0,986000.0,98600,Y,19000100
492937,C,20200329,24,IK0299,400,13K01484,0,48,3400.0,163200.0,8160,Y,19000100
492938,C,20200329,25,IK0299,400,13A00898,0,36,3400.0,122400.0,6120,Y,19000100
492939,C,20200329,26,IK0299,400,13G01039,0,288,3400.0,979200.0,48960,Y,19000100
492940,C,20200329,27,IK0299,400,13K03132,0,144,3400.0,489600.0,16320,Y,19000100
492941,C,20200329,28,IK0299,400,13R11041,0,228,2700.0,615600.0,20520,Y,19000100
492942,C,20200329,29,IK0299,400,16A03024,0,360,4450.0,1602000.0,160200,Y,19000100
492943,C,20200329,30,IK0299,400,16A03020,0,20,4200.0,84000.0,8400,Y,19000100
492944,C,20200329,31,IK0299,400,13R01092,0,84,2950.0,247800.0,12390,Y,19000100
713062,C,20200108,461,IK0226,406,16A03020,0,40,4000.0,160000.0,16000,Y,19000110
713063,C,20200108,462,IK2045,406,16A03020,0,100,4000.0,400000.0,40000,Y,19000110
713064,C,20200108,463,IJ1684,406,16A03020,0,110,4000.0,440000.0,44000,Y,19000110
713065,C,20200108,464,IK227,406,16A03020,0,150,4000.0,600000.0,60000,Y,19000110
713066,C,20200108,465,IK2043,406,16A03020,0,190,4000.0,760000.0,76000,Y,19000110
713067,C,20200108,466,IK2035,406,16A03020,0,40,4000.0,160000.0,16000,Y,19000110
713068,C,20200108,467,IK0937,406,16A03020,0,50,4000.0,200000.0,20000,Y,19000110
713069,C,20200108,468,IK2117,406,16A03020,0,200,4000.0,800000.0,80000,Y,19000110
713076,C,20200108,469,IK2184,406,13R09057,0,240,4500.0,1080000.0,36000,Y,19000110

In [602]:
df_booking = df_booking[(df_booking['납기일자'] != 19000110) & (df_booking['납기일자'] != 19021023) & (df_booking['납기일자'] != 19000100)]

In [603]:
df_booking

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
0,C,20170622,314,IA9129,400,16B06101,36,36,5775.00,207900.0,20790,Y,20170623
1,A,20200521,115,SI0107,NaN,1BA03255,0,54,1450.00,237273.0,23727,Y,20200522
2,A,20200521,116,SI0107,NaN,16A02023,0,50,3550.00,161364.0,16136,Y,20200522
3,A,20200521,117,IJ9449,NaN,13K02080,0,48,7040.00,153600.0,15360,Y,20200522
4,A,20200521,118,IJ9449,NaN,13R01080,0,36,8800.00,144000.0,14400,Y,20200522
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031388,A,20211102,150,IJ9548,sc600,16B06095,0,256,7723.00,561673.0,56167,N,20211103
1031389,B4,20211104,1,IA1406,400,13A00748,0,200,9800.00,1960000.0,196000,N,20211105
1031390,B4,20211104,2,IA1406,400,18A03045,0,30,8400.00,252000.0,25200,N,20211105
1031391,C,20211030,113,IJ9780,400,16A03015,0,1,4405.76,4406.0,0,Y,20211031
1031392,C,20211102,386,IA1444,NaN,13D01231,0,960,12500.00,6000000.0,600000,N,20211103

=> 25개의 19000100 같은 데이터 제외

In [604]:
df_booking.reset_index(drop= True, inplace= True) #인덱스 리셋

### 4번 이상치 5개(21080824) - 오타 예상

In [605]:
#1
df_booking[df_booking['납기일자'] == 20480315]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
318342,B4,20180301,14,IJ9455,400,18A03029,55,55,5500.0,660000.0,66000,Y,20480315

In [606]:
df_booking.iloc[318340:318360]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
318340,C,20180405,481,ID0149,400,1BA03214,119,119,2352.0,559776.0,55978,Y,20180405
318341,C,20180409,202,IJ9411,406,16A01062,100,100,3300.0,330000.0,33000,Y,20180412
318342,B4,20180301,14,IJ9455,400,18A03029,55,55,5500.0,660000.0,66000,Y,20480315
318343,B4,20180301,15,IJ9455,400,18A03029,83,83,5500.0,990000.0,99000,Y,20180326
318344,C,20180330,415,IJ2023,400,13K01296,2,2,7097.0,7097.0,710,Y,20180331
318345,C,20180330,416,IJ2023,400,13D02250,2,2,921.0,6447.0,645,Y,20180331
318346,C,20180330,417,IJ2023,400,13D02247,1,1,959.0,4795.0,480,Y,20180331
318347,C,20180330,418,IJ2023,400,13D02217,472,472,12507.0,2951652.0,295165,Y,20180331
318348,C,20180406,134,IJ9455,400,13D03082,12,12,2790.0,33480.0,1674,Y,20180409
318349,C,20180406,135,IJ9455,400,59101005,82,32,2610.0,83520.0,8352,Y,20180409
318350,C,20180406,136,IJ9455,400,16B03002,2100,2100,1600.0,3360000.0,33600,Y,20180409
318351,C,20180406,137,IJ9455,400,13D01136,4,4,2880.0,11520.0,576,Y,20180409
318352,C,20180406,138,IJ9455,400,13D01268,12,12,6818.0,40908.0,4091,Y,20180409
318353,C,20180406,139,IJ9455,400,59101002,162,122,3100.0,378200.0,37820,Y,20180409
318354,C,20180406,140,IJ9455,400,13A00070,36,36,3780.0,136080.0,6804,Y,20180409
318355,C,20180406,141,IJ9455,400,59101001,112,72,2610.0,187920.0,18792,Y,20180409
318356,C,20180406,142,IJ9455,400,13D04103,24,24,2610.0,62640.0,3132,Y,20180409
318357,C,20180406,143,IJ9455,400,16A03004,85,85,2784.0,236640.0,23664,Y,20180409
318358,C,20180406,144,IJ9455,400,1BA03099,60,60,600.0,180000.0,18000,Y,20180409
318359,C,20180406,146,IJ9455,400,13R07010,12,12,2970.0,35640.0,1782,Y,20180409

In [607]:
df_booking[(df_booking['수주일자'] == 20180301) & (df_booking['거래처코드'] == 'IJ9455')]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
15017,B4,20180301,9,IJ9455,400,18A03007,60,60,1800.0,734400.0,73440,Y,20180302
15018,B4,20180301,10,IJ9455,400,18A03007,18,18,1800.0,216000.0,21600,Y,20180307
15039,B4,20180301,11,IJ9455,400,18A03007,44,44,1800.0,540000.0,54000,Y,20180309
15040,B4,20180301,12,IJ9455,400,18A03029,4,4,5500.0,44000.0,4400,Y,20180326
15041,B4,20180301,13,IJ9455,400,18A03029,19,19,5500.0,231000.0,23100,Y,20180328
17962,B4,20180301,3,IJ9455,400,18A03002,45,45,111000.0,333000.0,33300,Y,20180302
35344,B4,20180301,1,IJ9455,400,18A03009,91,91,5500.0,1089000.0,108900,Y,20180301
318242,B4,20180301,16,IJ9455,400,18A03029,0,83,5500.0,990000.0,99000,Y,20180330
318342,B4,20180301,14,IJ9455,400,18A03029,55,55,5500.0,660000.0,66000,Y,20480315
318343,B4,20180301,15,IJ9455,400,18A03029,83,83,5500.0,990000.0,99000,Y,20180326

In [608]:
df_booking[(df_booking['수주사업장'] == 'B4') & (df_booking['거래처코드'] == 'IJ9455') & (df_booking['수주품목코드'] == '18A03029') &(df_booking['수주수량KG'] == 55)]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
203730,B4,20190301,8,IJ9455,400,18A03029,55,55,4100.0,492000.0,49200,Y,20190301.0
203731,B4,20190301,9,IJ9455,400,18A03029,55,55,4100.0,492000.0,49200,Y,20190301.0
318342,B4,20180301,14,IJ9455,400,18A03029,55,55,5500.0,660000.0,66000,Y,20480315
396985,B4,20180401,4,IJ9455,400,18A03029,55,55,5500.0,660000.0,66000,Y,20180413
522117,B4,20181101,23,IJ9455,400,18A03029,55,55,4100.0,492000.0,49200,Y,20181101
541526,B4,20190201,13,IJ9455,400,18A03029,55,55,4100.0,492000.0,49200,Y,20190201
557036,B4,20190301,25,IJ9455,406,18A03029,55,55,4100.0,492000.0,49200,Y,20190302
562605,B4,20190501,21,IJ9455,400,18A03029,55,55,4100.0,492000.0,49200,Y,20190501
577545,B4,20190401,14,IJ9455,400,18A03029,55,55,4100.0,492000.0,49200,Y,20190401

In [609]:
df_booking['납기일자'][318342] = 20180315

/tmp/ipykernel_12077/812768368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_booking['납기일자'][318342] = 20180315

In [610]:
df_booking['납기일자'][318342]

20180315

In [611]:
df_booking.reset_index(drop= True, inplace= True) #인덱스 리셋

=>
오타라서 20180315로 기입했다. => 가정
=>
같은 거래처가 같은 수주일자에 10번 같은 제품을 시켰음 그러나 납기일자는 거의 다 다르기 때문에 20180315인데 잘 못 기입한 것으로 판단

In [612]:
###2

In [613]:
df_booking[df_booking['납기일자'] == 21091226]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
701939,C,20191226,572,IJ2772,202,13D02348,46,46,5922.0,260568.0,26057,Y,21091226

In [614]:
df_booking.iloc[701950:701970]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
701950,C,20191224,453,IJ9555,406,16A01063,45,45,3240.0,145800.0,14580,Y,20191225
701951,C,20191224,454,IJ9555,406,16A01062,27,27,3240.0,87480.0,8748,Y,20191225
701952,C,20191224,455,IJ9555,406,13R13005,2,2,8100.0,8100.0,810,Y,20191225
701953,C,20191224,456,IJ9555,406,13D01156,10,10,7470.0,37350.0,3735,Y,20191225
701954,C,20191224,457,IJ9555,406,59101001,39,39,2610.0,101790.0,10179,Y,20191225
701955,C,20191224,458,IJ9555,406,13K03115,3,3,4500.0,13500.0,1350,Y,20191225
701956,C,20191224,459,IJ9555,406,13K01304,6,6,6480.0,19440.0,1944,Y,20191225
701957,C,20191224,460,IJ9555,406,13A00542,4,4,9900.0,19800.0,1980,Y,20191225
701958,C,20191224,461,IJ9550,406,13A00539,154,154,6480.0,498960.0,49896,Y,20191225
701959,C,20191224,462,IJ9550,406,59101001,23,23,2610.0,60030.0,6003,Y,20191225
701960,C,20191224,463,IJ9550,406,18A03029,40,40,4950.0,435600.0,43560,Y,20191225
701961,C,20191224,464,IJ9550,406,13K03115,17,17,4500.0,76500.0,7650,Y,20191225
701962,C,20191224,465,IJ9550,406,16A01062,10,10,3240.0,32400.0,3240,Y,20191225
701963,C,20191224,466,IJ9550,406,16A01063,8,8,3240.0,25920.0,2592,Y,20191225
701964,C,20191224,467,IJ9550,406,13L00007,20,20,2700.0,27000.0,2700,Y,20191225
701965,C,20191224,468,IJ9550,406,16A02023,170,170,3240.0,550800.0,55080,Y,20191225
701966,C,20191224,469,IJ9550,406,13A00541,156,156,6480.0,505440.0,50544,Y,20191225
701967,C,20191224,470,IJ9550,406,13R13005,44,44,8100.0,178200.0,17820,Y,20191225
701968,C,20191224,471,IJ9550,406,13K01396,7,7,14400.0,57600.0,5760,Y,20191225
701969,C,20191224,472,IJ9550,406,16B06077,18,18,4590.0,41310.0,4131,Y,20191225

In [615]:
df_booking[(df_booking['수주일자'] == 20191226) & (df_booking['거래처코드'] == 'IJ2772')]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
701161,C,20191226,2,IJ2772,202,13D02238,288,288,1123.0,1347600.000,134760,Y,20200104
701162,C,20191226,8,IJ2772,202,13D02336,264,264,956.0,1147200.000,114720,Y,20200104
701163,C,20191226,9,IJ2772,202,13D02341,26,26,1553.5,186420.000,18642,Y,20200104
701165,C,20191226,7,IJ2772,202,13D02338,28,28,1070.5,128460.000,12846,Y,20200104
701271,C,20191226,86,IJ2772,202,13D02328,74,74,551.0,40903.485,38956,Y,20191225
...,...,...,...,...,...,...,...,...,...,...,...,...,...
701401,C,20191226,227,IJ2772,202,1C301009,8,8,4340.0,35154.000,3906,Y,20191226
701402,C,20191226,228,IJ2772,202,1BA01051,544,544,1500.0,815400.000,181200,Y,20191226
701410,C,20191226,229,IJ2772,202,16A02029,518,518,640.0,3686400.000,368640,Y,20191226
701411,C,20191226,230,IJ2772,202,16A02029,518,518,640.0,3686400.000,368640,Y,20191227
701939,C,20191226,572,IJ2772,202,13D02348,46,46,5922.0,260568.000,26057,Y,21091226

In [616]:
df_booking['납기일자'][701939] = 20191226 #수주일자 및 거래처코드를 확인해본 결과 같은 수주일자에서 20191226일의 납기일자가 다수 발견됨

/tmp/ipykernel_12077/2523713639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_booking['납기일자'][701939] = 20191226 #수주일자 및 거래처코드를 확인해본 결과 같은 수주일자에서 20191226일의 납기일자가 다수 발견됨

In [617]:
df_booking.reset_index(drop= True, inplace= True)

In [618]:
#3
df_booking[df_booking['납기일자'] == 21161118]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
159087,C,20161117,10,IK0288,400,13A00657,2640,2640,3300.0,8712000.0,871200,Y,21161118

In [619]:
df_booking.iloc[159080:159099]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
159080,A,20210405,160,IJ2223,NaN,13D04104,36,36,7160.0,117164.0,11716,Y,20210406
159081,A,20210405,161,IJ2223,NaN,13S01389,24,24,6930.0,75600.0,7560,Y,20210406
159082,A,20210405,162,IJ2223,NaN,1BA03251,27,27,1500.0,122728.0,12272,Y,20210406
159083,A,20210405,163,IJ2223,NaN,1BA03255,45,45,1450.0,197728.0,19772,Y,20210406
159084,A,20210405,164,IJ2223,NaN,1BA03250,45,45,1350.0,184091.0,18409,Y,20210406
159085,C,20161117,6,IK0264,400,1BA03191,300,300,1450.0,1740000.0,174000,Y,20161118
159086,C,20161117,7,IK0264,400,13K01444,225,225,1250.0,1125000.0,112500,Y,20161118
159087,C,20161117,10,IK0288,400,13A00657,2640,2640,3300.0,8712000.0,871200,Y,21161118
159088,A,20161117,1,SI0037,400,59101005,80,80,3300.0,240000.0,24000,Y,20161118
159089,A,20161117,4,IJ9532,400,13D04106,120,120,5170.0,282000.0,28200,Y,20161118
159090,A,20161117,8,IJ3139,400,13D04105,60,60,7700.0,210000.0,21000,Y,20161118
159091,B4,20161117,1,IJ9455,400,16D01022,1440,1440,4500.0,6480000.0,0,Y,20161117
159092,C,20161104,347,IJ2772,400,13D02282,23,23,694.0,144352.0,14435,Y,20161117
159093,C,20161104,348,IJ2772,400,13D02280,35,35,656.0,207952.0,20795,Y,20161117
159094,C,20161104,349,IJ2772,400,13D02281,113,113,2607.0,597003.0,59700,Y,20161117
159095,C,20161104,350,IJ2772,400,13D02279,58,58,2466.0,278658.0,27866,Y,20161117
159096,C,20161104,351,IJ2772,400,13D02284,150,150,2420.0,658240.0,65824,Y,20161117
159097,C,20161104,352,IJ2772,400,13D02277,127,127,2154.0,553578.0,55358,Y,20161117
159098,C,20161110,537,IA9129,400,13D01202,23,23,2365.0,212850.0,21285,Y,20161117

In [620]:
df_booking[(df_booking['수주일자'] == 20161117) & (df_booking['수주품목코드'] == '13A00657')]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
159087,C,20161117,10,IK0288,400,13A00657,2640,2640,3300.0,8712000.0,871200,Y,21161118

In [621]:
df_booking['납기일자'][159087] = 20161118

/tmp/ipykernel_12077/1494893956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_booking['납기일자'][159087] = 20161118

In [622]:
df_booking.reset_index(drop= True, inplace= True)

=> 같은 수주일자에 한 거래처가 하나의 품목을 무려 2600개를 주문함 대부분의 수주일자가 20161117인 경우, 당일 납기일자였고 개수가 매우 큰 것을 감안해 납기일자가 하루 뒤인 20161118이라고 생각하여 바꿈

In [623]:
#4 수주일자에서 이미 drop하여 조치하지 않아도 됨
df_booking[df_booking['납기일자'] == 21210727]

Empty DataFrame
Columns: [수주사업장, 수주일자, 수주일련번호, 거래처코드, 수주부서, 수주품목코드, 출고수량KG, 수주수량KG, 수주단가, 수주금액, 부가세금액, 출하완료여부, 납기일자]
Index: []

In [624]:
#5
df_booking[df_booking['납기일자'] == '30180430']

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
401296,C,20180427,154,IK1006,400,16A01063,500,500,3050.0,1525000.0,152500,Y,30180430

In [625]:
df_booking.iloc[401290:401310]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
401290,A,20180427,64,SI0065,400,13R13005,12,12,8200.0,44728.0,4472,Y,20180428
401291,A,20180427,65,IJ9449,400,13R01080,60,60,8800.0,240000.0,24000,Y,20180428
401292,A,20180427,67,IJ9449,400,13K01130,12,12,5850.0,31910.0,3190,Y,20180428
401293,A,20180427,69,IJ9449,400,16A01063,40,40,3700.0,134546.0,13454,Y,20180428
401294,C,20180427,150,IK0274,400,16B03002,1000,1000,1700.0,1700000.0,170000,Y,20180430
401295,C,20180427,151,IK0274,400,16B06003,576,576,6390.0,1150200.0,115020,Y,20180430
401296,C,20180427,154,IK1006,400,16A01063,500,500,3050.0,1525000.0,152500,Y,30180430
401297,A,20180427,74,IJ9449,400,13R01080,0,60,8800.0,240000.0,24000,Y,20180428
401298,A,20180427,80,IJ9251,400,59101001,16,16,3300.0,48000.0,4800,Y,20180428
401299,C,20180427,160,IA1537,400,1BA03051,5600,5600,1013.1,11346720.0,1134672,Y,20180430
401300,C,20180427,221,IO0006,406,13A00808,2001,2004,2000.0,4008000.0,400800,Y,20180502
401301,C,20180427,222,IK0295,406,13A00763,1500,1500,3300.0,4950000.0,495000,Y,20180502
401302,C,20180428,1,IJ9455,202,59101003,10,10,2871.0,28710.0,2871,Y,20180429
401303,C,20180428,2,IJ9455,202,59101002,63,63,3100.0,195300.0,19530,Y,20180429
401304,C,20180428,3,IJ9455,202,16B06077,6,6,1675.0,10050.0,1005,Y,20180429
401305,C,20180428,4,IJ9455,202,16A01063,12,12,2784.0,33408.0,3341,Y,20180429
401306,C,20180428,5,IJ9455,202,13D01143,2,2,3060.0,6120.0,612,Y,20180429
401307,C,20180427,30,IJ2085,406,14104013,50,50,8900.0,445000.0,44500,Y,20180430
401308,C,20180427,33,IJ2023,400,16B07010,2,2,2741.0,5482.0,548,Y,20180428
401309,C,20180427,34,IJ2023,400,13K01296,4,4,7097.0,14194.0,1419,Y,20180428

In [626]:
df_booking[(df_booking['수주일련번호'] == 154) & (df_booking['수주일자'] == '20180427')]

Empty DataFrame
Columns: [수주사업장, 수주일자, 수주일련번호, 거래처코드, 수주부서, 수주품목코드, 출고수량KG, 수주수량KG, 수주단가, 수주금액, 부가세금액, 출하완료여부, 납기일자]
Index: []

In [627]:
df_booking['납기일자'][401296] = 20180430 #수주일자 및 일련번호 확인 후 동일한 일련번호가 없는 것 확인/ 단순 오타로 판단해 20180430으로 기입

/tmp/ipykernel_12077/1052302473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_booking['납기일자'][401296] = 20180430 #수주일자 및 일련번호 확인 후 동일한 일련번호가 없는 것 확인/ 단순 오타로 판단해 20180430으로 기입

In [628]:
df_booking.reset_index(drop= True, inplace= True)

### 5. 이상치 3개(2018-061)

In [629]:
df_booking[df_booking['납기일자'] == '2018-061']

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
424453,C,20180611,152,IJ9451,400,16A01063,0,54,3104.0,167616.0,16762,Y,2018-061
424454,C,20180611,153,IJ9451,400,1BA03049,0,612,10200.0,2080800.0,208080,Y,2018-061
424455,C,20180611,154,IJ9451,400,13K01427,0,6,4860.0,29160.0,1458,Y,2018-061

In [630]:
df_booking.iloc[424450:424462]

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
424450,C,20180611,144,IK0146,400,16A02023,110,110,3200.0,352000.0,35200,Y,20180609
424451,C,20180611,145,IJ9302,406,13R13021,312,312,2850.0,889200.0,88920,Y,20180612
424452,C,20180611,515,IJ9276,406,13R09047,300,350,3200.0,1120000.0,112000,Y,20180625
424453,C,20180611,152,IJ9451,400,16A01063,0,54,3104.0,167616.0,16762,Y,2018-061
424454,C,20180611,153,IJ9451,400,1BA03049,0,612,10200.0,2080800.0,208080,Y,2018-061
424455,C,20180611,154,IJ9451,400,13K01427,0,6,4860.0,29160.0,1458,Y,2018-061
424456,C,20180611,155,IJ9451,400,13A00542,14,14,4750.0,66500.0,3325,Y,20180611
424457,C,20180611,156,IJ9451,400,13A00541,20,20,2995.0,59900.0,2995,Y,20180611
424458,C,20180611,157,IJ9451,400,16A01062,81,81,3104.0,251424.0,25142,Y,20180611
424459,C,20180611,158,IJ9451,400,16A01063,84,84,3104.0,260736.0,26074,Y,20180611
424460,C,20180611,159,IJ9451,400,13A00545,14,14,4940.0,69160.0,3458,Y,20180611
424461,C,20180611,160,IJ9451,400,13A00539,32,32,2975.0,95200.0,4760,Y,20180611

In [631]:
df_booking['납기일자'].iloc[424453:424456]

424453    2018-061
424454    2018-061
424455    2018-061
Name: 납기일자, dtype: object

In [632]:
df_booking['납기일자'].iloc[424453:424456] = 20180611 #같은 수주일자에 같은 거래처코드의 납기일자를 확인했을 때 20180611로 판단

/tmp/ipykernel_12077/2415924496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_booking['납기일자'].iloc[424453:424456] = 20180611 #같은 수주일자에 같은 거래처코드의 납기일자를 확인했을 때 20180611로 판단

In [633]:
df_booking.reset_index(drop= True, inplace= True)

In [ ]:
#2018-05-

In [672]:
df_booking[df_booking['납기일자'] == '2018-05-']

Empty DataFrame
Columns: [수주사업장, 수주일자, 수주일련번호, 거래처코드, 수주부서, 수주품목코드, 출고수량KG, 수주수량KG, 수주단가, 수주금액, 부가세금액, 출하완료여부, 납기일자]
Index: []

In [671]:
df_booking = df_booking.query("납기일자 != '2018-05-'")

In [673]:
df_booking.reset_index(drop= True, inplace= True)

In [656]:
df_booking[(df_booking['수주일자'] == 20180516) & (df_booking['수주사업장'] == "C")].sort_values(by = '수주일련번호')

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
410442,C,20180516,2,IK0393,406,13P01248,720,720,2850.0,2052000.0,205200,Y,20180521
410654,C,20180516,3,IK0377,400,13L00029,255,255,2409.0,2197008.0,219701,Y,20180516
410655,C,20180516,4,IK0377,400,13L00001,26,26,14707.0,191191.0,19119,Y,20180516
410656,C,20180516,5,IK0377,400,13L00030,386,386,4411.0,2858328.0,285833,Y,20180516
410657,C,20180516,6,IK0377,400,13D01308,50,50,2365.0,454080.0,45408,Y,20180516
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413615,C,20180516,589,IO0069,400,16A03004,173,173,3000.0,519000.0,51900,Y,20180519
413616,C,20180516,590,IO0069,400,13K01454,32,32,8280.0,132480.0,13248,Y,20180519
413617,C,20180516,591,IO0069,400,13K01304,302,302,4170.0,629670.0,62967,Y,20180519
413618,C,20180516,592,ID0170,400,1BA01013,3,3,4300.0,12900.0,1290,Y,20180519
414930,C,20180516,593,IK0976,400,18A03032,6,6,10000.0,110000.0,11000,Y,20180517

### 6. 이상치 11개

In [674]:
df_booking[df_booking['납기일자'] == '6월 5일']

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
421469,C,20180604,257,IK0264,406,1BA03191,300,300,1450.0,1740000.0,174000,Y,6월 5일
421470,C,20180604,258,IK0264,406,13R13029,639,639,500.0,3195000.0,319500,Y,6월 5일
421471,C,20180604,259,IK0264,406,1BA03191,25,25,1450.0,145000.0,14500,Y,6월 5일
421992,C,20180604,260,IK0264,406,13R13029,150,150,500.0,750000.0,75000,Y,6월 5일
421993,C,20180604,261,IK0264,406,1BA03191,25,25,1450.0,145000.0,14500,Y,6월 5일
421994,C,20180604,262,IK0264,406,13R13029,100,100,500.0,500000.0,50000,Y,6월 5일

In [678]:
df_booking['납기일자'].iloc[421469:421472]

421469    6월 5일
421470    6월 5일
421471    6월 5일
Name: 납기일자, dtype: object

In [679]:
df_booking['납기일자'].iloc[421469:421472] = 20180605

/tmp/ipykernel_12077/1816945118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_booking['납기일자'].iloc[421469:421472] = 20180605

In [680]:
df_booking.reset_index(drop= True, inplace= True)

In [681]:
df_booking['납기일자'].iloc[421992:421995]

421992    6월 5일
421993    6월 5일
421994    6월 5일
Name: 납기일자, dtype: object

In [682]:
df_booking['납기일자'].iloc[421992:421995] = 20180605

/tmp/ipykernel_12077/1295876276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_booking['납기일자'].iloc[421992:421995] = 20180605

In [683]:
df_booking.reset_index(drop= True, inplace= True)

In [684]:
df_booking[df_booking['납기일자'] == '6월 12일']

,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
423574,C,20180608,165,IK0264,406,13R13029,0,1000,500.0,5000000.0,500000,Y,6월 12일
423575,C,20180608,166,IK0264,406,1BA03191,0,50,1450.0,290000.0,29000,Y,6월 12일
423576,C,20180608,167,IK0264,406,13R13029,0,150,500.0,750000.0,75000,Y,6월 12일
423577,C,20180608,168,IK0264,406,1BA03191,0,25,1450.0,145000.0,14500,Y,6월 12일
423578,C,20180608,169,IK0264,406,13R13029,0,160,500.0,800000.0,80000,Y,6월 12일

In [687]:
df_booking['납기일자'].iloc[423574:423579]

423574    20180612
423575    20180612
423576    20180612
423577    20180612
423578    20180612
Name: 납기일자, dtype: object

In [686]:
df_booking['납기일자'].iloc[423574:423579] = 20180612

/tmp/ipykernel_12077/3830728154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_booking['납기일자'].iloc[423574:423579] = 20180612

In [688]:
df_booking.reset_index(drop= True, inplace= True)

In [711]:
df_booking_clean = df_booking.to_csv('/home/piai/바탕화면/Big Data/3주차/big data 팀프로젝트_간편식 제조 공정 최적화/Booking_data_clean.csv')

In [719]:
df_booking_clean = pd.read_csv('/home/piai/바탕화면/Big Data/3주차/big data 팀프로젝트_간편식 제조 공정 최적화/Booking_data_clean.csv')
df_booking_clean

,Unnamed: 0,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자
0,0,C,20190429,261,IK0264,406,1BA03191,300,300,1450.0,1740000.0,174000,Y,20190328
1,1,C,20190429,262,IK0264,406,13R13029,250,250,500.0,1250000.0,125000,Y,20190328
2,2,C,20190526,65,IO976,406,57101005,247,247,2750.0,1446500.0,144650,Y,20190531
3,3,C,20190526,66,IO976,406,57101005,247,247,2750.0,1446500.0,144650,Y,20190531
4,4,C,20190530,762,IO976,406,1BA02020,700,700,4200.0,2940000.0,294000,Y,20190531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031309,1031309,C,20210104,88,IJ9780,202,1BA01026,10,10,1783.0,71320.0,7132,Y,20211231
1031310,1031310,C,20210104,89,IJ9780,202,1BA03494,65,65,1252.0,81380.0,32552,Y,20211231
1031311,1031311,C,20210104,90,IJ9780,202,1BA03544,10,10,1300.0,52000.0,5200,Y,20211231
1031312,1031312,C,20210104,91,IJ9780,202,1BA03545,25,25,1350.0,135000.0,13500,Y,20211231
1031313,1031313,C,20201231,495,IJ9552,400,57101143,9,9,2210.0,99450.0,9945,Y,20211231

In [720]:
df_booking_clean['납기지연여부'] = df_booking_clean['수주수량KG'] - df_booking_clean['출고수량KG']

In [721]:
df_booking_clean[df_booking_clean['납기지연여부'] == 100]

,Unnamed: 0,수주사업장,수주일자,수주일련번호,거래처코드,수주부서,수주품목코드,출고수량KG,수주수량KG,수주단가,수주금액,부가세금액,출하완료여부,납기일자,납기지연여부
34,34,C,20190530,791,IO0077,406,13D01285,65,165,1830.0,7.644304e+05,76443,Y,20190531,100
3618,3618,C,20160110,68,IJ9451,400,13L00007,0,100,1223.0,1.223000e+05,6115,Y,20160111,100
5136,5136,C,20160113,180,IJ9455,400,16D01021,0,100,4500.0,4.500000e+05,45000,Y,20160113,100
5746,5746,C,20160108,27,IJ1650,400,14501020,400,500,7000.0,3.500000e+06,350000,Y,20160115,100
10711,10711,C,20160120,24,IJ2768,400,13K01432,600,700,5500.0,3.850000e+06,385000,Y,20160127,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031230,1031230,C,20211101,709,IK0228,NaN,13D02300,0,100,3900.0,3.900000e+05,39000,N,20211104,100
1031231,1031231,C,20211101,710,IK0228,NaN,13R01139,0,100,3950.0,3.950000e+05,39500,N,20211104,100
1031233,1031233,C,20211101,712,IK0228,NaN,13S09026,0,100,3600.0,3.600000e+05,36000,N,20211104,100
1031234,1031234,C,20211101,713,IK0228,NaN,13R10054,0,100,3900.0,3.900000e+05,39000,N,20211104,100
1031271,1031271,C,20211101,661,IJ2036,202,13K03115,0,100,3800.0,3.800000e+05,38000,N,20211109,100

In [722]:
df_booking_clean['납기지연여부'] = np.where(df_booking_clean['납기지연여부'] >0 ,1, 0)

In [723]:
df_booking_clean['납기지연여부'].value_counts()

0    911164
1    120150
Name: 납기지연여부, dtype: int64

In [725]:
df_booking_clean.to_csv('/home/piai/바탕화면/Big Data/3주차/big data 팀프로젝트_간편식 제조 공정 최적화/Booking_data_clean.csv')